{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Checklist</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Contract Information</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Contract Information</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Checklist Number</label>
                                                            <input type="text" class="form-control" id= checklistNumberContractInfo" placeholder="123456" disabled>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Country</label>
                                                            <input type="text" class="form-control" id="inputCountryDisabled" placeholder="Selected Country" disabled>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <label>Project Code/s (CLAIM Work#)</label>
                                                            <input type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">IPPF Forecasting Type</label>
                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                <option selected>Select</option>
                                                                <option>By Resource</option>
                                                                <option>By Category</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Deferral / Amortization</label>
                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                <option selected>Select</option>
                                                                <option>POC</option>
                                                                <option>T/T</option>
                                                                <option>None</option>
                                                            </select>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <h5 class="mt-5">CFTS</h5>
                                            <hr>
                                            <form class="form-inline">
                                                <div class="form-group mb-2">
                                                    <label for="staticEmail2" class="sr-only">Contract Number</label>
                                                    <input type="text" readonly class="form-control-plaintext" id="staticContract" value="Contract Number">
                                                </div>
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <label for="inputPassword2" class="sr-only">Contract</label>
                                                    <input type="text" class="form-control" id="contractNumber">
                                                </div>
                                                <button type="submit" class="btn btn-primary mb-2">Populate</button>
                                            </form>
                                            
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Customer Name</label>
                                                            <input type="text" class="form-control" id= checklistNumberContractInfo">
                                                            <small id="emailHelp" class="form-text text-muted">Receives from CFTS</small>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Contract TCV $</label>
                                                            <input type="text" class="form-control" id="inputCountryDisabled">
                                                            <small id="emailHelp" class="form-text text-muted">Receives from CFTS</small>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Contract Length (Months)</label>
                                                            <input type="text" class="form-control" id= checklistNumberContractInfo">
                                                            <small id="emailHelp" class="form-text text-muted">Receives from CFTS</small>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Contract Type</label>
                                                            <input type="text" class="form-control" id="inputCountryDisabled">
                                                            <small id="emailHelp" class="form-text text-muted">Receives from CFTS</small>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <h5 class="mt-5">Annual TCV ($M)</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" id= checklistNumberContractInfo">
                                                            <small id="emailHelp" class="form-text text-muted">Contract TCV / (Contract Length/Contract TCV)</small>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-primary pull-right" onclick="location.href = '/contract-billing.html'">Next</button>
                                        </div>
                                   </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
