<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="page-wrapper">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5>Contract Billing</h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Checklist Number</label>
                      <input type="text" class="form-control" id=
                      checklistNumberContractInfo" placeholder="123456"
                      disabled>
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Country</label>
                      <input
                        type="text"
                        class="form-control"
                        id="inputCountryDisabled"
                        placeholder="Selected Country"
                        disabled
                      />
                    </div>
                  </form>
                </div>
                <div class="col-md-6">
                  <form>
                    <div class="form-group">
                      <label>Total # of Invoices Per Month</label>
                      <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                      <label>Billing Window</label>
                      <input type="text" class="form-control" />
                    </div>
                  </form>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <h6 class="mt-5">Billing Type (Monthly Charges)</h6>
                  <hr />
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      id="customRadioInline1"
                      name="customRadioInline1"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline1"
                      >Manual</label
                    >
                  </div>
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      id="customRadioInline2"
                      name="customRadioInline1"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline2"
                      >Autobill</label
                    >
                  </div>
                  <h6 class="mt-5">Billable Expenses</h6>
                  <hr />
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      id="customRadioInline3"
                      name="customRadioInline3"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline3"
                      >Yes</label
                    >
                  </div>
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      id="customRadioInline4"
                      name="customRadioInline3"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline4"
                      >No</label
                    >
                  </div>
                  <h6 class="mt-5">ARC/RRC</h6>
                  <hr />
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      id="customRadioInline5"
                      name="customRadioInline5"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline5"
                      >Yes</label
                    >
                  </div>
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      id="customRadioInline6"
                      name="customRadioInline5"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline6"
                      >No</label
                    >
                  </div>
                </div>

                <div class="col-md-6">
                  <h6 class="mt-5">PO required</h6>
                  <hr />
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      id="customRadioInline7"
                      name="customRadioInline7"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline7"
                      >Yes</label
                    >
                  </div>
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      id="customRadioInline8"
                      name="customRadioInline7"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline8"
                      >No</label
                    >
                  </div>

                  <h6 class="mt-5">E-Approval</h6>
                  <hr />
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      id="customRadioInline9"
                      name="customRadioInline9"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="customRadioInline9"
                      >Yes</label
                    >
                  </div>
                  <div
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input
                      type="radio"
                      id="customRadioInline10"
                      name="customRadioInline9"
                      class="custom-control-input"
                    />
                    <label
                      class="custom-control-label"
                      for="customRadioInline10"
                      >No</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
