<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="main-body">
      <div class="page-wrapper">
        <!-- [ Main Content ] start -->
        <div class="row">
          <div class="col-sm-12">
            <div class="card">
              <div class="card-header">
                <h5>Contract Resources</h5>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 container">
                    <div class="form-group">
                      <label for="numberLocalId">Number of Local IBMer's (Onshore)</label>
                      <input type="text" class="form-control" id="numberLocalId" name="number_local"/>
                    </div>
                    <div class="form-group">
                      <label for="numberIcaId">Number of ICA resources (Offshore)</label>
                      <input type="text" class="form-control" id="numberIcaId" name="number_ica"/>
                    </div>
                    <div class="form-group">
                      <label for="numberSubId">Number of SubK's</label>
                      <input type="text" class="form-control" id="numberSubId" name="number_sub"/>
                    </div>
                  </div>
                </div>

                <h5 class="mt-5">Total</h5>
                <hr />
                <div class="row">
                  <div class="col-md-3 container">
                    <div class="form-group">
                      <input type="text" class="form-control" id="totalId" name="total" disabled>
                      <small id="obs6" class="form-text text-muted">Number of Local IBMer's + Number of ICA resources + Number of SubK's</small>
                    </div>
                  </div>
                </div>
                <div class="mt-3">
                  <button class="button btn-navigate-form-step" type="button" step_number="5">Next</button>
                  <button class="btn btn-outline-primary btn-navigate-form-step" type="button" step_number="3">Prev</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- [ Main Content ] end -->
      </div>
    </div>
  </div>

  <!-- [ Main Content ] end -->

  {% endblock content %}

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}
</div>
