{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <header class="support_header">
                                            <h1 class="contact_us">Contact us</h1>
                                        </header>
                                        
                                        <div id="form">
                                            
                                            <div class="fish" id="fish"></div>
                                            <div class="fish" id="fish2"></div>
                                            
                                            <form class="support_form" id="waterform" method="POST" action="mail.php">
                                                {% csrf_token %}
                                                <div class="formgroup" id="name-form">
                                                    <label class="support_label" for="name">Your name*</label>
                                                    <input class="support_input" type="text" id="name" name="name" />
                                                </div>
                                                
                                                <div class="formgroup" id="email-form">
                                                    <label class="support_label" for="email">Your e-mail*</label>
                                                    <input class="support_input" type="email" id="email" name="email" />
                                                </div>
                                                
                                                <div class="formgroup" id="message-form">
                                                    <label class="support_label" for="message">Your message</label>
                                                    <textarea class="support_textarea" id="message" name="message"></textarea>
                                                </div>
                                            
                                                <input class="support_input" type="submit" value="Send your message!" />
                                            </form>
                                            <br />
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
